.history th {
  text-align: center;
  box-sizing: border-box;

  &:nth-child(even) {
    border-left: 1px solid rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.12);
  }
  &:nth-child(odd) {
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.12);
  }
}